<div id="commentbox">
  <h3>Product Reviews</h3>

    <div>
        <% if user_signed_in? %>
            <p id="reviewlogin"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
        <% else %>
             <p id="reviewlogin">You must be <%= link_to('logged in', new_user_session_path) %> to leave a review</p>
        <% end %>
    </div>
        
 

  <% @comments.each do |comment| %>
    <div class="row" id="productcon">
      <hr>
      <p>
    <%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
     <div class="rated" data-score="<%= comment.rating %>"></div>
     <p><%= comment.body %></p>
    <% if signed_in? && current_user %>
              <span class="glyphicon glyphicon-trash"></span> <%= link_to ' Destroy', product_comment_path(@product,comment), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
    <% end %>
    <%= will_paginate @comments %>
</div>